<!-- FAVICON -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/ico/apple-touch-icon.png?v=123123x">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/ico/favicon-32x32.png?v=123123x">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/ico/favicon-16x16.png?v=123123x">
<link rel="manifest" href="/assets/ico/site.webmanifest">
<link rel="mask-icon" href="/assets/ico/safari-pinned-tab.svg?v=123123x" color="#5bbad5">
<link rel="shortcut icon" href="/assets/ico/favicon.ico?v=123123x">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
