---
layout: compress
title: 404
description: Seems you have stumbled upon a lost page.
breadcrumb: 404
permalink: /404.html
sitemap:
    priority: 0.1
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

			<!-- Content -->
      <!-- Content -->
    <div class="content clearfix">

      <!-- 404 Section -->
      <div class="section-block bkg-pink pt-150 pb-150">
        <div class="row flex v-align-middle">
          <div class="column width-8 left">
            <h1 class="status-code-title color-white">Darn!</h1>
            <h3 class="title-medium color-white"><span class="status-code weight-bold">404</span>: We can't seem to find the page you're looking for.</h3>
            <ul class="lead list-unstyled mb-0 color-white">
              <li><a href="{{site.url}}">SoundGrail Home</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 404 Section End -->
      {% include /modules/latest-blog.html %}

    </div>
    <!-- Content End -->


			<!-- Content End -->

			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
