---
layout: null
title: Music Production - Samples, Project Files & Promotion - SoundGrail
description: Get quality samples and free samples, educational Ableton project files, music promotional services, discover artists on our music blog, and a handy music theory app!
breadcrumb: Home
sitemap:
    priority: 1.0
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Intro Section -->
				<div class="section-block window-height clear-height-on-mobile bkg-gradient-cold-ocean">
					<div class="media-overlay background-contain fullscreen-pattern-5 horizon" data-animate-in="preset:scaleIn;duration:1000ms;easing:easeInOutCubic" data-threshold="0.1"></div>
					<div class="row flex v-align-middle one-column-on-tablet">
						<div class="column width-8 offset-2 center">
							<h1 class="mb-20">
								<span class="weight-semi-bold color-white mb-5">
									SoundGrail
								</span>
							</h1>
							<p class="lead weight-light color-white mb-30">
								Samples, production resources, promotion, and tips for modern musicians and music producers!
							</p>
							<div class="mb-mobile-30">
								<a href="{{site.url}}" class="button rounded medium border-white color-white bkg-hover-blue-light color-hover-white">
									Music Promotion
								</a>
								<a href="https://app.soundgrail.com" class="button rounded medium bkg-white color-blue bkg-hover-blue-light color-hover-white">
									Use Our Free APP
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Section End -->



        <!-- Portfolio Grid -->
				<div class="section-block grid-container fade-in-progressively bkg-grey-ultralight" data-layout-mode="masonry" data-grid-ratio="1.5" data-set-dimensions data-animate-resize data-animate-resize-duration="700" data-as-bkg-image>
					<div class="row">
						<div class="column width-12 center">
							<h3 class="mb-50">Learn more about what SoundGrail has to offer</h3>
						</div>
					</div>
					<div class="row">
						<div class="column width-12">
							<div class="row grid content-grid-2">
								<div class="grid-item grid-sizer">
									<div class="thumbnail rounded overlay-fade-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-gradient data-gradient-spread="70%" data-hover-bkg-opacity="0.7">
										<a class="overlay-link" href="{{site.url}}/shop/">
											<img src="/assets/images/custom/samples-project-files-producing.jpg" alt="Showcasing samples and project files for sale"/>
											<span class="overlay-info v-align-bottom left color-white">
												<span>
													<span>
														<span class="project-title">Samples & Project Files <span class="icon-arrow-with-circle-right small"></span></span>
														<span class="project-description">Shop for quality sounds in our marketplace</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
								<div class="grid-item portrait">
									<div class="thumbnail rounded overlay-fade-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-gradient data-gradient-spread="70%" data-hover-bkg-opacity="0.7">
										<a class="overlay-link" href="https://music.soundgrail.com">
											<img src="/assets/images/portfolio/grid/large-margins/project-26-portrait.jpg" alt="Artist working in studio on featured music"/>
											<span class="overlay-info v-align-bottom left color-white">
												<span>
													<span>
														<span class="project-title">Hottest tracks and artists <span class="icon-arrow-with-circle-right small"></span></span>
														<span class="project-description">Check out new artists and apply to be featured</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
								<div class="grid-item design">
									<div class="thumbnail rounded overlay-fade-img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#000000" data-gradient data-gradient-spread="70%" data-hover-bkg-opacity="0.7">
										<a class="overlay-link" href="https://app.soundgrail.com">
											<img src="/assets/images/custom/music-production-app-showcase.jpg" alt="Music app being used for music production"/>
											<span class="overlay-info v-align-bottom left color-white">
												<span>
													<span>
														<span class="project-title">Music Production App <span class="icon-arrow-with-circle-right small"></span></span>
														<span class="project-description">Handy cheatsheet app for all your music needs</span>
													</span>
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Portfolio Grid End -->

        <div class="section-block bkg-gradient-norse-beauty">
          <div class="row flex">
            <div class="column width-7 left">
              <h2 class="weight-semi-bold mb-20 color-white">Try our free app!</h2>
              <p class="lead mb-0 mb-mobile-30 color-white opacity-07 ">SoundGrail is a free music theory app for pianists, guitarists and DJs. Learn chords, scales, key signatures, and more. Play guitar, piano and DJ like a pro!</p>
            </div>
            <div class="column width-5 v-align-middle right left-on-mobile">
              <div>
                <a href="https://app.soundgrail.com" class="button rounded medium border-white color-white bkg-hover-white color-hover-theme no-margins">
                  <span class=""></span> SoundGrail App
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="section-block replicable-content bkg-grey-ultralight">
        					<div class="row">
        						<div class="column width-8 offset-2 center">
        							<h3>The perfect place for musicians &amp; music producers</h3>
        							<p class="lead mb-50">Hundreds of quality sample packs, project files, and powerful tools at your fingertips.</p>
        						</div>
        					</div>
        					<div class="row flex boxes one-column-on-tablet">
        						<div class="column width-4">
        							<div class="box xlarge rounded bkg-white">
        								<div class="feature-column medium">
        									<span class="feature-icon icon-colours color-theme"></span>
        									<div class="feature-text">
        										<h4>Best Samples & Project Files</h4>
        										<p>Access the latest and highest-quality samples, ableton templates, and presets inspired by the hottest EDM trends and biggest artists across all electronic music genres.</p>
        									</div>
        								</div>
        							</div>
        						</div>
        						<div class="column width-4">
        							<div class="box xlarge rounded bkg-white">
        								<div class="feature-column medium">
        									<span class="feature-icon icon-fingerprint color-theme"></span>
        									<div class="feature-text">
        										<h4>Discover new artists and playlists</h4>
        										<p>There's so much brilliant, undiscovered music out there. We wanted to develop a platform to showcase and celebrate the creativity and passion of musicians, artists and bands that we love and hope to share with the world via our music blog platform.</p>
        									</div>
        								</div>
        							</div>
        						</div>
        						<div class="column width-4">
        							<div class="box xlarge rounded bkg-white">
        								<div class="feature-column medium">
        									<span class="feature-icon icon-tablet-mobile-combo color-theme"></span>
        									<div class="feature-text">
        										<h4>Music App</h4>
        										<p>SoundGrail is a free music theory app for pianists, guitarists and DJs. Learn chords, scales, key signatures, and more. Play guitar, piano and DJ like a pro!</p>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        					<div class="row">
        						<div class="column width-12">
        							<div class="box rounded small bkg-grey-light">
        								<div class="row flex v-align-middle">
        									<div class="column width-12 center mb-mobile-20">
        										<div>
        											<p class="mb-mobile-20"><span class="weight-semi-bold">Want to discover new music?</span> Check our our <a href="https://music.soundgrail.com/blog/">featured artists →</a></p>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>


        <div class="section-block feature-2">
        					<div class="row flex">
        						<div class="column width-6 push-5 offset-1">
        							<div class="feature-image mb-mobile-50 tmh-perspective">
        								<div class="feature-image-inner center-on-mobile horizon" data-animate-in="preset:slideInRightShort;duration:1000;" data-threshold="0.6" style="backface-visibility: hidden; transition: -webkit-transform 1000ms cubic-bezier(0.11, 0.69, 0.66, 1.01), opacity; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
        									<img src="/assets/images/custom/soundgrail-music-production-resource-ableton.jpg" alt="Music production in Ableton">
        								</div>
        							</div>
        						</div>
        						<div class="column width-5 pull-7">
        							<div class="feature-content tmh-perspective">
        								<div class="feature-content-inner horizon" data-animate-in="preset:slideInUpShort;duration:1000;delay:300ms;" data-threshold="0.6" style="backface-visibility: hidden; transition: -webkit-transform 1000ms cubic-bezier(0.11, 0.69, 0.66, 1.01) 300ms, opacity; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
        									<h2 class="mb-30">The best samples and resources at your fingertips</h2>
        									<p class="lead">Have the production resources you need in the palm of your hand.</p>
        									<p>Our site offers quality samples and project files to boost your music production skills as well as a free app that acts as your music production sidekick. We also offer Spotify playlist promotion, music blog features, and SoundCloud reposts!</p>
        									<div class="stats-3 left">
        										<div class="row content-grid-2 no-margin-top">
        											<div class="grid-item mega-stat tmh-perspective">
        												<div class="stat" style="backface-visibility: hidden; transition: -webkit-transform 1000ms cubic-bezier(0.42, 0, 0.58, 1), opacity; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
        													<div class="stat-inner">
        														<p class="counter color-theme">
        															<span class="stat-counter" data-count-from="1" data-count-to="2">2</span> K
        														</p>
        														<p class="description">Sample packs sold</p>
        													</div>
        												</div>
        											</div>
        											<div class="grid-item mega-stat tmh-perspective">
        												<div class="stat" style="backface-visibility: hidden; transition: -webkit-transform 1000ms cubic-bezier(0.42, 0, 0.58, 1), opacity; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale3d(1, 1, 1); opacity: 1; visibility: visible; transform-origin: 50% 50% 0px;">
        													<div class="stat-inner">
        														<p class="counter color-green">
        															<span class="stat-counter" data-count-from="200" data-count-to="400">400</span>
        														</p>
        														<p class="description">Artists featured</p>
        													</div>
        												</div>
        											</div>
        										</div>
        									</div>
        								</div>
        							</div>
        						</div>
        					</div>
        				</div>




        {% include /modules/latest-blog.html %}

			</div>
			<!-- Content End -->
      {% include /elements/structured-data.html %}
			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
