---
layout: null
title: Submit Music - Get featured on our music blog - SoundGrail
description: Submit your track to be featured on our music blog! We're looking to promote new, undiscovered music that will move us. Our music blog helps get your music discovered!
breadcrumb: Music Blog Feature
permalink: /promotion/music-blog-feature/submission/
sitemap:
    priority: 1.0
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

			<!-- Content -->
      <div class="content clearfix">

				<!-- Intro Section -->
        <div class="section-block intro-title-1 small bkg-gradient-royal-garden color-white">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<div class="row flex">
										<div class="column width-6 v-align-middle">
											<div>
												<h1 class="mb-0">SoundGrail Music Blog Promotion</h1>
												<p class="lead mb-0 mb-mobile-20">Get featured on our blog!</p>
											</div>
										</div>
										<div class="column width-6 v-align-middle">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Section End -->

        <div class="section-block replicable-content bkg-grey-ultralight">
					<div class="row">
						<div class="column width-12 center">
							<h2>Music Blog Feature</h2>
							<p class="lead">Submit your track to be featured on our music blog! We're looking to promote new, undiscovered music that will move us. Our music blog helps get your music discovered!</p>
						</div>
					</div>
					<div class="row">
						<div class="column width-12">
							<div class="tabs rounded button-nav pill small bordered center">
								<ul class="tab-nav">
									<li class="active">
										<a href="#tabs-1-pane-1">Our Packages</a>
									</li>
								</ul>
								<div class="tab-panes">
									<div id="tabs-1-pane-1" class="animate active animate-in">
										<div class="tab-content pt-30">
											<div class="row flex boxes two-columns-on-tablet">
												<div class="column width-4 left center offset-4">
													<div class="pricing-table rounded large style-3 columns-1 mb-0 border-grey-light">
														<div class="pricing-table-column">
															<div class="pricing-table-header bkg-white color-charcoal">
																<h2 class="weight-semi-bold pull-left color-charcoal">Basic</h2>
																<div class="pricing-table-price pull-right">
																	<h4>
																		<span class="currency"></span>free
																		<span class="interval mt-10">10k monthly readers</span>
																	</h4>
																</div>
															</div>
															<hr class="no-margins">
															<div class="pricing-table-text bkg-white">
																<p class="lead">Ideal for artist that need that extra little kickstart on their tracks!</p>
															</div>
															<div class="pricing-table-footer bkg-white">
																<a href="{{site.url}}" class="button rounded bkg-grey-light bkg-hover-theme color-grey color-hover-white mb-mobile-40">Select Option</a>
															</div>
														</div>
													</div>
												</div>


											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

        <div class="section-block bkg-gradient-norse-beauty">
          <div class="row flex">
            <div class="column width-7 left">
              <h2 class="weight-semi-bold mb-20 color-white">Try our free app!</h2>
              <p class="lead mb-0 mb-mobile-30 color-white opacity-07 ">SoundGrail is a free music theory app for pianists, guitarists and DJs. Learn chords, scales, key signatures, and more. Play guitar, piano and DJ like a pro!</p>
            </div>
            <div class="column width-5 v-align-middle right left-on-mobile">
              <div>
                <a href="https://app.soundgrail.com" class="button rounded medium border-white color-white bkg-hover-white color-hover-theme no-margins">
                  <span class=""></span> SoundGrail App
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="section-block bkg-grey-ultralight">
					<div class="row flex">
						<div class="column width-6">
							<h2 class="weight-semi-bold mb-60">About SoundGrail's Music Blog</h2>
              <!-- <p>We're turning underdogs into superstars</p> -->
						</div>
					</div>
					<div class="row flex two-columns-on-tablet">
						<div class="column width-12">
							<h4 class="weight-semi-bold">Get discovered on our music blog</h4>


              <p>SoundGrail was founded in August 2010 with only a few dedicated followers. It has since grown to be a family of writers and music lovers from across the globe. </p>

              <p>We support one genre and one genre only. That is, good music. In other words, it doesn't matter if you make hip-hop, rap, indie, or one of the many sub-styles of electronic music, we appreciate all walks of life.</p>

              <p>We're looking to promote new, undiscovered music that will move us - physically and emotionally. We want music that challenges the forefront of sound and takes risks. That's what music is all about. It should take the listener to place he or she has never been or seen. Take a chance and experiment because there are too many copycats (musically and lyrically) today.</p>

              <p>There's so much brilliant, undiscovered music out there. We wanted to develop a platform to showcase and celebrate the creativity and passion of musicians, artists and bands that we love and hope to share with the world via our music blog platform.</p>

              <p>Think about this for a second. How many of your favorite artists were recommended to you by a friend? Probably a lot. Thus, we hope to serve you top-quality music that we would not be embarrassed to talk about with our own friends. </p>

              <p>Our writers and influencers will bring you the best music, including indie rock, hip hop, electronic, and everything in between. This music is discovered and listened to by real music lovers.</p>

              <p>We will give you feedback on your submission regardless of whether it was accepted or not. The feedback will be honest and it should never be taken as a personal criticism.</p>

              <p>As well as featuring new tracks as part of our weekly playlists or as individual posts, we also review albums, EPs and events and host Introducing interviews.</p>

              <p>If you’d like your music featured on SoundGrail, go ahead and send us your Soundcloud or Youtube song URL, and a little about who you are and your social media links. </p>

						</div>
					</div>
				</div>


        {% include /modules/latest-blog.html %}

			</div>
			<!-- Content End -->

			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
