<!-- <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css?v={{ site.time | date: '%s' }}"> -->
<link rel="stylesheet" 
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/assets/css/plugins.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/revolution/css/settings.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/revolution/css/layers.css?v={{ site.time | date: '%s' }}"><!-- seems to work without this -->
<link rel="stylesheet" type="text/css" href="/assets/revolution/css/navigation.css?v={{ site.time | date: '%s' }}"><!-- seems to work without this -->
<link rel="stylesheet" type="text/css" href="/assets/type/icons.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/style.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/css/color/blue.css?v={{ site.time | date: '%s' }}">
<link rel="stylesheet" type="text/css" href="/assets/css/somiibo.css?v={{ site.time | date: '%s' }}">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,700,700i" rel="stylesheet"> -->

