---
layout: null
title: Blog - SoundGrail
description: Stay up to date with the latest SoundGrail tips and tricks and get informed on the hottest music and production tips around.
breadcrumb: Blog
sitemap:
    priority: 1.0
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

      <!-- Content -->
			<div class="content clearfix">

				<!-- Intro Title Section 2 -->
				<div class="section-block intro-title-1 small bkg-grey-ultralight">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<div class="row flex">
                    <div class="column width-6 v-align-middle">
											<div>
												<h1 class="mb-0">SoundGrail Blog</h1>
												<p class="lead mb-0 mb-mobile-20">Production tips, free presets and samples lists, marketing tips and free VSTs and plugins!</p>
											</div>
										</div>
										<div class="column width-6 v-align-middle">
											<!-- <div>
												<ul class="breadcrumb mb-0 pull-right clear-float-on-mobile">
													<li>
														<a href="index.html">Home</a>
													</li>
													<li>
														Blog
													</li>
												</ul>
											</div> -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Title Section 2 End -->

				<div class="section-block clearfix pt-0 pb-0 bkg-grey-ultralight">
					<div class="row">

						<!-- Content Inner -->
						<div class="column width-8 content-inner blog-regular">

              {% for post in paginator.posts %}
                {% assign mod3 = forloop.index | modulo: 3 %}
                {% assign author = site.authors | where: 'title', post.author | first %}


                <article class="post">
                  <div class="post-content with-background">
                    <h2 class="post-title center"><a href="blog-single-post-sidebar-right.html">{{ post.title }}</a></h2>
                    <div class="post-info center">
                      <span class="post-date">{{ post.date | date_to_string }}</span>, in <span class="post-category"><a href="#">Development</a></span>, <span class="post-tags"><span><a href="#" class="post-tag label small rounded border-green color-green bkg-hover-green bkg-hover-white">Updates</a></span></span>
                    </div>
                    <div class="post-media">
                      <div class="thumbnail img-scale-in" data-hover-easing="easeInOut" data-hover-speed="700" data-hover-bkg-color="#ffffff" data-hover-bkg-opacity="0.9">
                        <a class="overlay-link" href="{{site.url}}{{ post.url }}">
                          <img src="{{site.url}}/blog/posts/{{ post.post_id }}/teaser.jpg" alt="{{ post.title }}"/>
                          <span class="overlay-info">
                            <span>
                              <span>
                                Read Full Article
                              </span>
                            </span>
                          </span>
                        </a>
                      </div>
                    </div>
                    <br>
                    <p>{{ post.excerpt }}</p>
                    <a href="{{site.url}}{{ post.url }}" class="read-more">Read More →</a>
                    <!-- <div class="post-author">
                      <div class="row">
                        <div class="column width-12">
                          <div class="author-bio">
                            <div class="author-avatar clear-float">
                              <img src="images/blog/bio-avatar-3.jpg" alt="Avatar">
                            </div>
                            <div class="author-content">
                              <div class="row">
                                <div class="column width-12">
                                  <div class="name">by <a href="#">Jenna Burke</a></div>
                                  <p class="author-title">WordPress Evangelist, JS Guru and Beer Lover</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div> -->
                  </div>
                </article>

              {% if mod3 == 0 %}
              <div class="post">
                <div class="box box-bg bg-white">
                  <div class="row">
                    <div class="col-12">
                      {% include /adunits/inner-adsense-infeed.html %}
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}

            {% endfor %}










						</div>
						<!-- Content Inner End -->

						<!-- Sidebar -->
						{% include /modules/sidebar-blog.html %}
						<!-- Sidebar End -->

					</div>
				</div>

				<!-- Pagination Section 3 -->
				<div id="pagination" class="section-block pagination-3 bkg-grey-ultralight">
					<div class="row">
						<!-- <div class="column width-12">
							<ul>
								<li><a class="pagination-previous icon-left-open" href="#"><span class="icon-left-open-mini"></span></a></li>
								<li><a class="current" href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a class="pagination-next disabled" href="#"><span class="icon-right-open-mini"></span></a></li>
							</ul>
						</div> -->
					</div>
				</div>
				<!-- Pagination Section 3 End -->

			</div>

			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
