<!-- <script type="text/javascript" src="/assets/js/jquery.min.js?v={{ site.time | date: '%s' }}"></script> -->
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous">
</script>
<!-- <script type="text/javascript" src="/assets/js/bootstrap.min.js?v={{ site.time | date: '%s' }}" defer></script> -->
<script 
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
        crossorigin="anonymous"
        defer>
</script>
<script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.tools.min.js?v={{ site.time | date: '%s' }}" defer></script>
<script type="text/javascript" src="/assets/revolution/js/jquery.themepunch.revolution.min.js?v={{ site.time | date: '%s' }}" defer></script>
<!-- <script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script type="text/javascript" src="/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script> -->
<script type="text/javascript" src="/assets/js/plugins.js?v={{ site.time | date: '%s' }}" defer></script>
<script type="text/javascript" src="/assets/js/scripts.js?v={{ site.time | date: '%s' }}" defer></script>
<script type="text/javascript" src="/assets/js/ddexitpop.js?v={{ site.time | date: '%s' }}" defer></script>
