
			<!-- Footer -->
			<footer class="footer footer-light with-border">
				<div class="footer-top">
					<div class="row flex one-column-on-tablet">
						<div class="column width-3">
							<div class="widget">
								<div class="footer-logo">
									<a href="{{site.url}}"><img src="/assets/images/logo-dark.png" alt="Faulkner Logo" /></a>
								</div>
								<address>
									Faulk &amp; Co, Inc.<br>
									44 St Grove Ave #81<br>
									Walnut, United States
								</address>
							</div>
						</div>
						<div class="column width-9">
							<div class="row flex two-columns-on-tablet">
								<div class="column width-3">
									<div class="widget">
										<h3 class="widget-title mb-30">Company</h3>
										<ul>
											<li><a href="#">About us</a></li>
											<li><a href="#">Work with us</a></li>
											<li><a href="#">Recognition</a></li>
											<li><a href="#">Our team</a></li>
											<li><a href="#">Upcoming events</a></li>
											<li><a href="#">Press</a></li>
											<li><a href="#">Referral program</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Legal</a></li>
										</ul>
									</div>
								</div>
								<div class="column width-3">
									<div class="widget">
										<h3 class="widget-title mb-30">Product</h3>
										<ul>
											<li><a href="#">Brance Hosting</a></li>
											<li><a href="#">Cascade Hosting</a></li>
											<li><a href="#">Tree Hosting</a></li>
											<li><a href="#">Quick Storage</a></li>
											<li><a href="#">Smart Storage</a></li>
											<li><a href="#">Faulkner API</a></li>
											<li><a href="#">Tools &amp; Integration</a></li>
											<li><a href="#">Tutorials</a></li>
										</ul>
									</div>
								</div>
								<div class="column width-3">
									<div class="widget">
										<h3 class="widget-title mb-30">Support</h3>
										<ul>
											<li><a href="#">Contact Us</a></li>
											<li><a href="#">Documentation</a></li>
											<li><a href="#">Frequent questions</a></li>
										</ul>
									</div>
								</div>
								<div class="column width-3">
									<div class="widget">
										<h3 class="widget-title mb-30">Socialize</h3>
										<ul class="social-list list-horizontal">
											<li><a href="#"><span class="icon-twitter small"></span></a></li>
											<li><a href="#"><span class="icon-facebook small"></span></a></li>
											<li><a href="#"><span class="icon-dribbble small"></span></a></li>
											<li><a href="#"><span class="icon-vimeo small"></span></a></li>
											<li><a href="#"><span class="icon-youtube small"></span></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-bottom bkg-grey-ultralight">
					<div class="row">
						<div class="column width-12">
							<div class="footer-bottom-inner">
								<p class="copyright pull-left clear-float-on-mobile">&copy; ThemeMountain. All Rights Reserved.</p> <a href="#" class="scroll-to-top pull-right clear-on-mobile" data-no-hide>Back Top</a>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- Footer End -->
