<!-- Header -->
<header class="header header-relative header-fixed-on-mobile nav-dark" data-bkg-threshold="100" data-sticky-threshold="0">
  <div class="header-inner">
    <div class="row nav-bar">
      <div class="column width-12 nav-bar-inner">
        <div class="logo">
          <div class="logo-inner">
            <a href="{{site.url}}"><img src="/assets/images/logo-dark.png" alt="Faulkner Logo" /></a>
            <a href="{{site.url}}"><img src="/assets/images/logo.png" alt="Faulkner Logo" /></a>
          </div>
        </div>
        <nav class="navigation nav-block secondary-navigation nav-right">
          <ul>
            <li>
              <!-- Button -->
              <div class="v-align-middle">
                <a href="https://app.soundgrail.com" class="weight-semi-bold color-green"><span>Try Our App!</span></a>
              </div>
            </li>
            <li class="aux-navigation hide">
              <!-- Aux Navigation -->
              <a href="#" class="navigation-show side-nav-show nav-icon">
                <span class="icon-menu"></span>
              </a>
            </li>
          </ul>
        </nav>
        <nav class="navigation nav-block primary-navigation nav-right sub-menu-indicator">
          <ul>
            <li class="current contains-sub-menu">
              <a href="{{site.url}}/promotion/">Promotion</a>
              <ul class="sub-menu">
                <li>
                  <a href="{{site.url}}/promotion/soundcloud-repost/">SoundCloud Repost</a>
                </li>
                <li>
                  <a href="{{site.url}}/promotion/soundcloud-plays/">SoundCloud Plays <span class="label rounded bkg-theme color-white pull-right">New</span></a>
                </li>
              </ul>
            </li>
            <li class="contains-sub-menu">
              <a href="{{site.url}}/blog/">Blog</a>
              <div class="sub-menu custom-content">
                <!-- <div class="video-container">
                  <iframe src="https://player.vimeo.com/video/213961896?title=0&mp;byline=0&amp;portrait=0&amp;color=717dfb" width="500" height="281"></iframe>
                </div> -->
                <ul>
                  <li>
                    <h4>Features</h4>
                  </li>
                  <li>
                    <a href="{{site.url}}/blog/artists/">Artists</a>
                  </li>
                  <li>
                    <a href="{{site.url}}/blog/tracks/">Tracks</a>
                  </li>
                </ul>
                <ul class="bkg-grey-ultralight">
                  <li>
                    <h4>Articles</h4>
                  </li>
                  <li>
                    <a href="{{site.url}}/blog/">All</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="contains-sub-menu">
  						<a href="https://app.soundgrail.com">Tools</a>
  						<div class="sub-menu custom-content">
  							<ul class="bkg-white">
  								<li>
  									<div class="feature-column left medium">
  										<span class="feature-icon icon-cog color-theme"></span>
  										<div class="feature-text">
  											<h6 class="text-uppercase mb-10">Music Theory</h6>
  											<p>Chord charts, chord lookups, and music theory tips.</p>
  										</div>
  									</div>
  								</li>
  								<li>
  									<div class="feature-column left medium">
  										<span class="feature-icon icon-crop color-theme"></span>
  										<div class="feature-text">
  											<h6 class="text-uppercase mb-10">Chord Finder</h6>
  											<p>Instantly find the name of any chord.</p>
  										</div>
  									</div>
  								</li>
  								<li>
  									<div class="feature-column left medium">
  										<span class="feature-icon icon-fingerprint color-theme"></span>
  										<div class="feature-text">
  											<h6 class="text-uppercase mb-10">And much more...</h6>
  											<p>All your production resources in the palm of your hand.</p>
  										</div>
  									</div>
  								</li>
  							</ul>
  							<ul class="bkg-grey-ultralight center">
  								<li>
  									<a href="https://app.soundgrail.com" class="button rounded medium full-width text-small text-uppercase bkg-green bkg-hover-green color-white color-hover-white">
  										Get our Free App!
  									</a>
  								</li>
  							</ul>
  						</div>
  					</li>
            <li class="">
							<a href="{{site.url}}/shop/">Soundbanks</a>
						</li>
            <!-- <li class="contains-sub-menu">
              <a href="{{site.url}}/shop/">Shop</a>
              <ul class="sub-menu">
                <li>
                  <a href="https://soundgrail.com">Get our free app!</a>
                </li>
              </ul>
            </li> -->
            <!-- <li class="contains-sub-menu sub-menu-right">
              <a href="shop-grid-three-columns.html">Shop</a>
              <ul class="sub-menu">
                <li class="contains-sub-menu">
                  <a href="cart.html">Cart</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="cart.html">Cart Style 1</a>
                    </li>
                    <li>
                      <a href="cart-2.html">Cart Style 2</a>
                    </li>
                  </ul>
                </li>
                <li class="contains-sub-menu">
                  <a href="checkout.html">Checkout</a>
                  <ul class="sub-menu">
                    <li>
                      <a href="checkout.html">Checkout Style 1</a>
                    </li>
                    <li>
                      <a href="checkout-2.html">Checkout Style 2</a>
                    </li>
                    <li>
                      <a href="checkout-3.html">Checkout Style 3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li> -->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
