<!-- Side Navigation Menu -->
<aside class="side-navigation-wrapper enter-left" data-no-scrollbar data-animation="push-in">
  <div class="side-navigation-scroll-pane">
    <div class="side-navigation-inner">
      <div class="side-navigation-header">
        <div class="navigation-hide side-nav-hide">
          <a href="{{site.url}}">
            <span class="icon-cancel medium"></span>
          </a>
        </div>
      </div>
      <nav class="side-navigation nav-block">
        <ul>
          <li class="">
            <a href="https://app.soundgrail.com" class="">Try our app!</a>
          </li>
          <li>
            <a href="{{site.url}}/promotion/" class="{% if page.url contains '/promotion/' %} current {% endif %} contains-sub-menu">Promotion</a>
            <ul class="sub-menu">
              <li>
                <a href="{{site.url}}/promotion/soundcloud-repost/">SoundCloud Repost</a>
              </li>
              <li>
                <a href="{{site.url}}/promotion/spotify-playlist/">Spotify Playlist <span class="label rounded bkg-theme color-white pull-right">New</span></a>
              </li>
              <li>
                <a href="{{site.url}}/promotion/music-blog-feature/">Blog Feature <span class="label rounded bkg-theme color-white pull-right">New</span></a>
              </li>
            </ul>
          </li>
          <li>
            <a href="{{site.url}}/blog/" class="{% if page.url contains '/blog/' %} current {% endif %} contains-sub-menu">Blog</a>
            <ul class="sub-menu">
              <li>
                <a href="https://music.soundgrail.com/blog/">Artists</a>
              </li>
              <li>
                <a href="{{site.url}}/blog/">Articles</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="https://app.soundgrail.com" class="">Tools</a>
          </li>
          <li>
            <a href="{{site.url}}/shop/" class="{% if page.url contains '/shop/' %} current {% endif %}">Shop</a>
          </li>
        </ul>
      </nav>
      <!-- <nav class="side-navigation nav-block">
        <ul>
          <li>
            <a href="#" class="contains-sub-menu">Sign In</a>
            <div class="sub-menu custom-content login-form-container">
              <form class="login-form" action="#" method="post" novalidate>
                <div class="row">
                  <div class="column width-12">
                    <div class="field-wrapper">
                      <input type="text" name="email" class="form-name form-element rounded small" placeholder="E-mail" tabindex="1" required>
                    </div>
                  </div>
                  <div class="column width-12">
                    <div class="field-wrapper">
                      <input type="password" name="password" class="form-email form-element rounded small" placeholder="Password" tabindex="2" required>
                    </div>
                  </div>
                  <div class="column width-12">
                    <div class="row flex">
                      <div class="column width-6">
                        <input type="submit" value="Sign In" class="form-submit button small rounded bkg-theme bkg-hover-theme color-white color-hover-white" tabindex="3">
                      </div>
                      <div class="column width-6 v-align-middle right">
                        <div>
                          <a class="recuperate-password" href="">Password?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="text" name="honeypot" class="form-honeypot form-element">
              </form>
              <div class="form-response"></div>
            </div>
          </li>
        </ul>
      </nav> -->
      <div class="side-navigation-footer">
        <p class="copyright no-margin-bottom">&copy; 2018 SoundGrail.</p>
      </div>
    </div>
  </div>
</aside>
<!-- Side Navigation Menu End -->
