<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Corporation",
	"name": "SoundGrail",
	"description": "Get quality samples and free samples, educational Ableton project files, music promotional services, discover artists on our music blog, and a handy music theory app!",
	"logo": "http://soundgrail.com/assets/images/soundgrail-square-logo.png",
	"url": "https://soundgrail.com",
	"sameAs": ["https://twitter.com/soundgrailmusic","https://www.linkedin.com/company/soundgrail","https://plus.google.com/112798478427761347675","https://www.facebook.com/soundgrail/","https://www.youtube.com/channel/UC5CGKWyaa_SVWZbMUtiwuQA","https://www.instagram.com/soundgrail/","https://soundgrail.tumblr.com/"],
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Los Angeles",
		"addressCountry": "United States"
	}
}
</script>
