<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Corporation",
	"name": "Somiibo",
	"description": "Automate social media activity to get real followers, likes, and reposts on SoundCloud, Twitter, Instagram and many more sites. Spend less time marketing!",
	"logo": "https://somiibo.com/assets/images/somiibo-logo-app-circle.png",
	"url": "https://somiibo.com",
	"sameAs": ["https://www.linkedin.com/company/soundgrail","https://plus.google.com/117030690781425847287","https://www.facebook.com/somiibo/","https://www.youtube.com/channel/UCnbyA7BRXROto_SD56ZJ0vQ","https://www.instagram.com/somiibo/"],
	"address": {
		"@type": "PostalAddress",
		"addressLocality": "Los Angeles",
		"addressCountry": "United States"
	}
}
</script>
