---
layout: null
title: About - SoundGrail
description: SoundGrail offers quality samples, educational Ableton project files, music promotional services, and a handy music theory app! Discover up-and-coming artists.
breadcrumb: About
permalink: /about/
sitemap:
    priority: 0.4
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Intro Section -->
        <div class="section-block intro-title-1 small bkg-gradient-royal-garden color-white">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<div class="row flex">
										<div class="column width-6 v-align-middle">
											<div>
												<h1 class="mb-0">About</h1>
												<p class="lead mb-0 mb-mobile-20">Discover SoundGrail</p>
											</div>
										</div>
										<div class="column width-6 v-align-middle">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Section End -->

        <div class="section-block pb-30 bkg-grey-ultralight">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<h3 class="mb-30">Our Services</h3>
							<p class="lead mb-60">SoundGrail offers quality samples, educational Ableton project files, music promotion, an app, and features new and up-and-coming artists.</p>
						</div>
					</div>
					<div class="row flex boxes two-columns-on-tablet">
						<div class="column width-4">
							<div class="box rounded large bkg-white border-grey-light shadow-hover">
								<div class="feature-column large center">
									<span class="feature-icon icon-credit mt-20 mb-30 color-theme"></span>
									<div class="feature-text">
										<h4>Samples & Project Files</h4>
										<p> Explore our vast library of quality samples and project files!</p>
										<a href="{{site.url}}/shop/">Browse Samples & Project Files</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="box rounded large bkg-white border-grey-light shadow-hover">
								<div class="feature-column large center">
									<span class="feature-icon icon-cloud mt-20 mb-30 color-theme"></span>
									<div class="feature-text">
										<h4>Tools</h4>
										<p>Our app is your all-in-one tool for music production, music theory, and more!!</p>
										<a href="https://app.soundgrail.com">Get the SoundGrail app</a>
									</div>
								</div>
							</div>
						</div>
						<div class="column width-4">
							<div class="box rounded large bkg-white border-grey-light shadow-hover">
								<div class="feature-column large center">
									<span class="feature-icon icon-tools mt-20 mb-30 color-theme"></span>
									<div class="feature-text">
										<h4>Blog</h4>
										<p>Get the latest tips on music production and discover the hottest talet in the industry.</p>
										<a href="{{site.url}}/blog/">Read our Blog</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


        <div class="section-block bkg-gradient-norse-beauty">
          <div class="row flex">
            <div class="column width-7 left">
              <h2 class="weight-semi-bold mb-20 color-white">Try our free app!</h2>
              <p class="lead mb-0 mb-mobile-30 color-white opacity-07 ">SoundGrail is a free music theory app for pianists, guitarists and DJs. Learn chords, scales, key signatures, and more. Play guitar, piano and DJ like a pro!</p>
            </div>
            <div class="column width-5 v-align-middle right left-on-mobile">
              <div>
                <a href="https://app.soundgrail.com" class="button rounded medium border-white color-white bkg-hover-white color-hover-theme no-margins">
                  <span class=""></span> SoundGrail App
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="section-block bkg-grey-ultralight">
					<div class="row flex">
						<div class="column width-6">
							<h2 class="weight-semi-bold mb-60">About SoundGrail</h2>
              <!-- <p>We're turning underdogs into superstars</p> -->
						</div>
					</div>
					<div class="row flex two-columns-on-tablet">
						<div class="column width-6">
							<h4 class="weight-semi-bold">SoundGrail's Mission</h4>
							<p>SoundGrail was made from the heart. Moreover, SoundGrail was designed by musicians, for musicians. </p>
              <p>As mentors and strategists, we saw such a significant number of artist visionaries attempting to utilize online social networking to develop their online presence. We saw a need to offer a service that would help aspiring artists promote their social media at a high level regardless of whether they have a full team of marketers or not.</p>
						</div>
						<div class="column width-6">

							<h4 class="weight-semi-bold">Why use SoundGrail?</h4>
              <p>+ Have access to our incredible, free app!</p>
              <p>+ Get more SoundCloud plays and followers</p>
              <p>+ Get quality samples and Ableton project files</p>
							<p>+ Go from being an underdog to a superstar!</p>
						</div>
					</div>
				</div>


        {% include /modules/latest-blog.html %}

			</div>
			<!-- Content End -->

			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
