---
layout: null
title: Contact - SoundGrail
description: Have a question or a concern about music? Please feel free to shoot us an email to learn more about SoundGrail.
breadcrumb: Contact
permalink: /contact/
sitemap:
    priority: 0.4
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Intro Section -->
        <div class="section-block intro-title-1 small bkg-gradient-royal-garden color-white">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<div class="row flex">
										<div class="column width-6 v-align-middle">
											<div>
												<h1 class="mb-0">Contact</h1>
												<p class="lead mb-0 mb-mobile-20">Get in contact with SoundGrail</p>
											</div>
										</div>
										<div class="column width-6 v-align-middle">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Section End -->

        <div class="section-block replicable-content">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<p class="lead">Contact us for anything you need! We also offer a lively forum for our users to discover music together. Check out the <a href="https://forum.soundgrail.com">SoundGrail Forum</a>.</p>
						</div>
					</div>
				</div>

        <div class="section-block replicable-content contact-2 no-padding-top">
					<div class="row">
						<div class="column width-8 offset-2 center">
							<h2 class="mb-30">Say Hello</h2>
							<div class="contact-form-container">
								<form class="contact-form" action="https://soundgrail.com" method="post" novalidate="">
									<div class="row">
										<div class="column width-6">
											<div class="field-wrapper">
												<input type="text" name="fname" class="form-fname form-element rounded medium" placeholder="First Name*" tabindex="1" required="">
											</div>
										</div>
										<div class="column width-6">
											<div class="field-wrapper">
												<input type="text" name="lname" class="form-lname form-element rounded medium" placeholder="Last Name" tabindex="2">
											</div>
										</div>
										<div class="column width-6">
											<div class="field-wrapper">
												<input type="email" name="email" class="form-email form-element rounded medium" placeholder="Email address*" tabindex="3" required="">
											</div>
										</div>
										<div class="column width-6">
											<div class="field-wrapper">
												<input type="text" name="website" class="form-wesite form-element rounded medium" placeholder="Website" tabindex="4">
											</div>
										</div>
										<div class="column width-6">
											<input type="text" name="honeypot" class="form-honeypot form-element rounded medium">
										</div>
									</div>
									<div class="row">
										<div class="column width-12">
											<div class="field-wrapper">
												<textarea name="message" class="form-message form-element rounded medium" placeholder="Message*" tabindex="7" required=""></textarea>
											</div>
											<input type="submit" value="Send Email" class="form-submit button rounded medium bkg-theme bkg-hover-theme color-white color-hover-white">
										</div>
									</div>
								</form>
								<div class="form-response"></div>
							</div>
						</div>
					</div>
				</div>


        <div class="section-block bkg-gradient-norse-beauty">
          <div class="row flex">
            <div class="column width-7 left">
              <h2 class="weight-semi-bold mb-20 color-white">Try our free app!</h2>
              <p class="lead mb-0 mb-mobile-30 color-white opacity-07 ">SoundGrail is a free music theory app for pianists, guitarists and DJs. Learn chords, scales, key signatures, and more. Play guitar, piano and DJ like a pro!</p>
            </div>
            <div class="column width-5 v-align-middle right left-on-mobile">
              <div>
                <a href="https://app.soundgrail.com" class="button rounded medium border-white color-white bkg-hover-white color-hover-theme no-margins">
                  <span class=""></span> SoundGrail App
                </a>
              </div>
            </div>
          </div>
        </div>


        <div class="section-block bkg-grey-ultralight">
					<div class="row flex">
						<div class="column width-6">
							<h2 class="weight-semi-bold mb-60">About SoundGrail</h2>
              <!-- <p>We're turning underdogs into superstars</p> -->
						</div>
					</div>
					<div class="row flex two-columns-on-tablet">
						<div class="column width-6">
							<h4 class="weight-semi-bold">SoundGrail's Mission</h4>
							<p>SoundGrail was made from the heart. Moreover, SoundGrail was designed by musicians, for musicians. </p>
              <p>As mentors and strategists, we saw such a significant number of artist visionaries attempting to utilize online social networking to develop their online presence. We saw a need to offer a service that would help aspiring artists promote their social media at a high level regardless of whether they have a full team of marketers or not.</p>
						</div>
						<div class="column width-6">

							<h4 class="weight-semi-bold">Why use SoundGrail?</h4>
              <p>+ Have access to our incredible, free app!</p>
              <p>+ Get more SoundCloud plays and followers</p>
              <p>+ Get quality samples and Ableton project files</p>
							<p>+ Go from being an underdog to a superstar!</p>
						</div>
					</div>
				</div>


        {% include /modules/latest-blog.html %}

			</div>
			<!-- Content End -->

			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
