---
layout: null
title: Hub - SoundGrail
description: SoundGrail offers quality samples, educational Ableton project files, music promotional services, and a handy music theory app! Discover up-and-coming artists. Choose where you want to go!
breadcrumb: Hub
permalink: /hub/
sitemap:
    priority: 0.4
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Content -->
			<div class="content clearfix">

				<!-- Intro Section -->
        <!-- <div class="section-block window-height clear-height-on-mobile bkg-gradient-cold-ocean"> -->
				<div class="section-block window-height bkg-gradient-cold-ocean">
					<div class="media-overlay background-contain fullscreen-pattern-5 horizon" data-animate-in="preset:scaleIn;duration:1000ms;easing:easeInOutCubic" data-threshold="0.1"></div>
					<div class="row flex v-align-middle one-column-on-tablet">
						<div class="column width-8 offset-2 center">
							<h1 class="mb-20">
								<span class="weight-semi-bold color-white mb-5">
									SoundGrail
								</span>
							</h1>
							<p class="lead weight-light color-white mb-30">
								We do curated Spotify playlists, a music production app, & music promotion
							</p>
							<div class="mb-mobile-30">
								<a href="https://app.soundgrail.com?data_ref=soundgrail_website_hub" class="button rounded medium border-white color-white bkg-hover-blue-light color-hover-white">
									Free Music Production App
								</a>
								<a href="https://music.soundgrail.com/playlist/spotify/?data_ref=soundgrail_website_hub" class="button rounded medium bkg-white color-blue bkg-hover-blue-light color-hover-white">
									Bangin' Spotify Playlists
								</a>
                <a href="https://music.soundgrail.com?data_ref=soundgrail_website_hub" class="button rounded medium bkg-white color-blue bkg-hover-blue-light color-hover-white">
                  Discover our Music Blog
                </a>
                <a href="https://soundgrail.com/promotion/spotify-playlist/" class="button rounded medium bkg-white color-blue bkg-hover-blue-light color-hover-white">
                  Promote your Music on Spotify
                </a>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Section End -->




			</div>

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
