---
layout: null
title: Sitemap - SoundGrail
description: Each page and social media bot is lsited here as well as the tools and other pages of the site.
breadcrumb: Sitemap
permalink: /sitemap/
sitemap:
    priority: 0.4
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

			<!-- Content -->
			<div class="content clearfix">

				<!-- Intro Section -->
        <div class="section-block intro-title-1 small bkg-gradient-royal-garden color-white">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<div class="row flex">
										<div class="column width-6 v-align-middle">
											<div>
												<h1 class="mb-0">Sitemap</h1>
												<p class="lead mb-0 mb-mobile-20">Explore the site</p>
											</div>
										</div>
										<div class="column width-6 v-align-middle">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Section End -->

        <div class="section-block bkg-grey-ultralight">
					<div class="row flex">
						<div class="column width-6">
							<h2 class="weight-semi-bold mb-60">Sitemap</h2>
              <!-- <p>We're turning underdogs into superstars</p> -->
						</div>
					</div>
					<div class="row flex two-columns-on-tablet">
						<div class="column width-6">
							<h4 class="weight-semi-bold">Pages</h4>
              <ul>
                <li><a href="{{site.url}}">Home</a> </li>
                <li><a href="{{site.url}}/about/">About</a> </li>
                <li><a href="{{site.url}}/support/">Support</a> </li>
                <li><a href="{{site.url}}/contact/">Contact</a> </li>

                <li><a href="{{site.url}}/promotion/">Promotion</a> </li>
                <li><a href="{{site.url}}/promotion/soundcloud-plays/">SoundCloud Plays</a> </li>
                <li><a href="{{site.url}}/promotion/soundcloud-repost/">SoundCloud Repost</a> </li>

                <!-- <li><a href="{{site.url}}/shop/">Samples & Project Files</a> </li>
                <li><a href="{{site.url}}/shop/samples/">Quality Samples</a> </li>
                <li><a href="{{site.url}}/shop/project-files/">Ableton Project Files</a> </li>

                <li><a href="{{site.url}}/shop/project-files/trap-project-files/">Ableton Project Files</a> </li>
                <li><a href="{{site.url}}/shop/project-files/trap-project-files/">Ableton Project Files</a> </li>

                <li><a href="{{site.url}}/shop/projects/trap-project-files/">Ableton Project Files</a> </li>

                <li><a href="{{site.url}}/shop/projects/trap/flume-project-file/">Ableton Project Files</a> </li>

                <li><a href="{{site.url}}/shop/flume-project-file/">Ableton Project Files</a> </li> -->
              </ul>
						</div>
					</div>
				</div>


        {% include /modules/latest-blog.html %}

			</div>
			<!-- Content End -->

			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
