---
layout: null
---
<!DOCTYPE html>
<html lang="en">
<head>
  {% include /default/head.html %}

  <!-- plugins -->
  <!-- <link rel="stylesheet" href="/assets/libs/owl.carousel/dist/assets/owl.carousel.min.css" type="text/css" /> -->

</head>
<body class="shop home-page">

  {% include /elements/nav.html %}

	<div class="wrapper reveal-side-navigation">
		<div class="wrapper-inner">

			<!-- Header -->
      {% include /elements/nav-main.html %}

			<!-- Header End -->

			<!-- Content -->
      <div class="content clearfix">

				<!-- Intro Title Section 1 -->
				<div class="section-block intro-title-1 small">
					<div class="row">
						<div class="column width-12">
							<div class="title-container">
								<div class="title-container-inner">
									<div class="row flex">
										<div class="column width-8 v-align-middle">
											<div>
												<h1 class="mb-0">{{ page.name }}</h1>
												<p class="lead mb-0 mb-mobile-20">{{ page.excerpt }}</p>
											</div>
										</div>
										<div class="column width-4 v-align-middle">
											<div>
												<ul class="breadcrumb mb-0 pull-right clear-float-on-mobile">
													<li>
														<a href="{{site.url}}">Home</a>
													</li>
													<li>
														<a href="{{site.url}}/shop/">Shop</a>
													</li>
													<li>
														Item
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Intro Title Section 1 End -->

				<div class="section-block clearfix pt-0">
					<div class="row">

						<!-- Content Inner -->
						<div class="column width-8 content-inner">

							<!-- Product Images -->
							<div class="row">
								<div class="column width-12">
									<!-- <div class="product freeze" data-extra-space-top="100" data-extra-space-bottom="90" data-push-section=".products-similar" data-width="730" data-height="541">
										<div class="product-images">
											<div class="tm-slider-container content-slider mb-0" data-animation="slide" data-scale-min-height="100" data-scale-under="1080" data-width="1080" data-height="800" data-nav-show-on-hover="false">
												<ul class="tms-slides">
													<li class="tms-slide" data-image data-force-fit data-nav-dark data-as-bkg-image>
														<img data-src="/assets/images/shop/single/product-1.jpg" data-retina src="/assets/images/blank.png" alt=""/>
													</li>
													<li class="tms-slide" data-image data-force-fit data-nav-dark data-as-bkg-image>
														<img data-src="/assets/images/shop/single/product-2.jpg" data-retina src="/assets/images/blank.png" alt=""/>
													</li>
													<li class="tms-slide" data-image data-force-fit data-nav-dark data-as-bkg-image>
														<img data-src="/assets/images/shop/single/product-3.jpg" data-retina src="/assets/images/blank.png" alt=""/>
													</li>
												</ul>
											</div>
											<div class="hide">
												<a class="lightbox-link" data-group="product-lightbox-gallery" href="/assets/images/shop/single/product-2.jpg"></a>
												<a class="lightbox-link" data-group="product-lightbox-gallery" href="/assets/images/shop/single/product-3.jpg"></a>
											</div>
										</div>
									</div> -->
                <div class="video-container">
                  <div class="fluidvids" style="padding-top: 56.2%;"><iframe src="https://www.youtube.com/embed/FNiOlonuqxU?showinfo=0&amp;loop=1" width="500" height="281" class="fluidvids-item" data-fluidvids="loaded"></iframe></div>
                </div>
								</div>
							</div>
							<!-- Product Images -->

						</div>
						<!-- Content Inner End -->

						<!-- Sidebar -->
						<aside class="column width-4 sidebar right">
							<div class="sidebar-inner">
								<div class="product-summary">
									<div class="row">
										<div class="column width-12">

											<!-- Product Price -->
											<div class="product-price price">
												<del><span class="amount">{{ page.price.original }}</span></del>
												<ins><span class="amount">{{ page.price.sale }}</span></ins>
											</div>
											<!-- Product Price End -->

											<!-- Product Description -->
											<div class="product-description">
												<hr class="mt-0">
												<p>{{ content }}</p>
												<!-- <a href="#">Read Full Description &rarr;</a> -->
											</div>
											<!-- Product Description End -->

											<!-- Product Specs -->
											<div class="product-specs mb-10">
												<hr>
												<!-- <h4>Device Color</h4> -->
												<!-- <form class="product-form" action="#" method="post" novalidate="">

													<div class="row merged-form-elements">
														<div class="column width-5">
															<input type="text" name="quantity" class="form-quantity form-element medium" placeholder="Qty" tabindex="4" required>
														</div>
														<div class="column width-7">
															<input type="submit" value="Add To Cart" class="form-submit button full-width rounded medium bkg-theme bkg-hover-theme color-white color-hover-white" tabindex="5">
														</div>
													</div>
												</form> -->
                        <button href="{{ page.buy-link }}" type="submit" value="Add To Cart" class="form-submit button full-width rounded medium bkg-theme bkg-hover-theme color-white color-hover-white" tabindex="5">Buy</button>

											</div>
											<!-- Product Specs -->

										</div>
									</div>
									<div class="widget social">
										<hr class="mt-0">
										<ul class="social-list list-horizontal left">
											<li><h5>Share:</h5></li>
											<li>
												<a href="#"
												class="socialize"
												data-network="pinterest"
												data-url="{{site.url}}{{page.url}}"
												data-description="{{page.excerpt}}"
												data-image="{{site.url}}/shop/products/{{ page.product-id }}/product.jpg"
												data-title="{{page.name}}"
												title="Share on Pinterest"><span class="icon-pinterest small"></span></a>
											</li>
											<li>
												<a href="#"
												class="socialize"
												data-network="facebook"
                        data-url="{{site.url}}{{page.url}}"
                        data-image="{{site.url}}/shop/products/{{ page.product-id }}/product.jpg"
												title="Share on Facebook"><span class="icon-facebook small"></span></a>
											</li>
											<li>
												<a href="#"
												class="socialize"
												data-network="googleplus"
                        data-url="{{site.url}}{{page.url}}"
                        data-image="{{site.url}}/shop/products/{{ page.product-id }}/product.jpg"
												title="Share on Google"><span class="icon-google small"></span></a>
											</li>
											<li>
												<a href="#"
												class="socialize"
												data-network="twitter"
                        data-url="{{site.url}}{{page.url}}"
                        data-description="{{page.excerpt}}"
												data-user="SoundGrail"
                        data-image="{{site.url}}/shop/products/{{ page.product-id }}/product.jpg"
                        data-title="{{page.name}}"
												title="Share on Twitter"><span class="icon-twitter small"></span></a>
											</li>
											<!-- <li>
												<a href="#"
												class="socialize"
												data-network="linkedin"
												data-url="http://dev.thememountain.com/faulkner/project-style-one.html"
												data-description="Your Page Description Here"
												data-user="ThemeMountain"
												data-image="http://dev.thememountain.com/faulkner/images/portfolio/projects/project-1-1.jpg"
												data-title="Your Page Title Here"
												title="Share on LinkedIn"><span class="icon-linkedin small"></span></a>
											</li> -->
											<!-- <li>
												<a href="#"
												class="socialize"
												data-network="email"
												data-url="http://dev.thememountain.com/faulkner/project-style-one.html" data-email="info@thememountain.com" data-subject="Check out this site"
												data-description="Your Page Description Here"
												data-image="http://dev.thememountain.com/faulkner/images/portfolio/projects/project-1-1.jpg"
												data-title="Your Page Title Here" title="Share by Email"><span class="icon-email small"></span></a>
											</li> -->
										</ul>
									</div>
								</div>
							</div>
						</aside>
						<!-- Sidebar End -->

						<!-- Products Similar -->
						<div class="column width-12">
							<div class="products-similar">
								<hr>
								<h3 class="mb-50">Related Products</h3>

							</div>
						</div>
						<!-- Products Similar End -->

					</div>
				</div>

        {% include /modules/latest-blog.html %}

			</div>
			<!-- Content End -->

			{% include /elements/foot.html %}

		</div>
	</div>

  {% include /default/foot.html %}


</body>
</html>
