<aside class="column width-4 sidebar right">
  <div class="sidebar-inner">
    <div class="freeze with-background" data-extra-space-top="100" data-extra-space-bottom="0" data-push-section="#pagination">
      <div class="widget">
        <h3 class="widget-title">About</h3>
        <p><strong>Interested in music production?</strong> SoundGrail's blog covers an array of useful music, prodution, and productivity tips. Stay tuned for helpful posts for all things music!</p>
      </div>
      <div class="widget">
        <h3 class="widget-title">Find Something</h3>
        <div class="search-form-container site-search">
          <!-- <form action="#" method="get" novalidate>
            <div class="row">
              <div class="column width-12">
                <div class="field-wrapper">
                  <input type="text" name="search" class="form-search form-element rounded" placeholder="type &amp; hit enter...">
                  <span class="border"></span>
                </div>
              </div>
            </div>
          </form> -->
          <form action="https://www.google.com" id="cse-search-box" target="_blank" class="search-form">
            <div class="column width-12">
            <div class="row">
              <div class="field-wrapper">

              <input type="hidden" name="cx" value="partner-pub-7372939085773564:8604256015" />
              <input type="hidden" name="ie" value="UTF-8" />
              <input type="text" name="q" size="55" class="form-search form-element rounded" placeholder="Search the blog"/>
              <!-- <button type="submit"><i class="fa fa-search"></i></button> -->
            </div>
            </div>
            </div>
          </form>
          <div class="form-response"></div>
        </div>
      </div>
      <div class="widget">
        <h3 class="widget-title">Popular Categories</h3>
        <ul>
          <li><a href="{{site.url}}/blog/">Tools</a></li>
          <li><a href="{{site.url}}/blog/">Lists</a></li>
          <li><a href="{{site.url}}/blog/">Inspiration</a></li>
          <li><a href="{{site.url}}/blog/">Marketing</a></li>
        </ul>
      </div>
      <div class="widget social">
        <ul class="social-list list-horizontal left" itemscope itemtype="http://schema.org/Organization">
          <link itemprop="url" href="https://soundgrail.com">
          <li><a itemprop="sameAs" href="https://twitter.com/soundgrailmusic"><span class="icon-twitter-with-circle medium"></span></a></li>
          <li><a itemprop="sameAs" href="https://www.facebook.com/soundgrail"><span class="icon-facebook-with-circle medium"></span></a></li>
          <li><a itemprop="sameAs" href="https://www.instagram.com/soundgrail/"><span class="icon-instagram-with-circle medium"></span></a></li>
          <li><a itemprop="sameAs" href="https://www.youtube.com/channel/UC5CGKWyaa_SVWZbMUtiwuQA"><span class="icon-youtube-with-circle medium"></span></a></li>
          <li><a itemprop="sameAs" href="https://plus.google.com/107475342405880796326"><span class="icon-google-with-circle medium"></span></a></li>
          <li><a itemprop="sameAs" href="https://soundgrail.tumblr.com/"><span class="icon-tumblr-with-circle medium"></span></a></li>
				</ul>
			</div>
    </div>
  </div>
</aside>
